Repository ChameleonFramework/Chameleon, pull requests merged in 2023-09, with the labels that each got.

#269 refactor!: discontinue support for Minestom
  CONTRIBUTING.md
  README.md
  annotations/src/main/java/dev/hypera/chameleon/annotations/processing/ChameleonAnnotationProcessor.java
  annotations/src/main/java/dev/hypera/chameleon/annotations/processing/generation/minestom/ExtensionDescription.java
  annotations/src/main/java/dev/hypera/chameleon/annotations/processing/generation/minestom/MinestomGenerator.java
  api/src/main/java/dev/hypera/chameleon/adventure/mapper/AdventureMapper.java
  api/src/main/java/dev/hypera/chameleon/platform/Platform.java
  api/src/main/java/dev/hypera/chameleon/platform/PlatformTarget.java
  api/src/test/java/dev/hypera/chameleon/platform/PlatformTargetTests.java
  build-logic/src/main/kotlin/chameleon.base.gradle.kts
  example/build.gradle.kts
  example/src/main/java/dev/hypera/chameleon/example/ChameleonExample.java
  gradle/libs.versions.toml
  platform-minestom/build.gradle.kts
  platform-minestom/src/main/java/dev/hypera/chameleon/platform/minestom/MinestomChameleon.java
  platform-minestom/src/main/java/dev/hypera/chameleon/platform/minestom/MinestomChameleonBootstrap.java
  platform-minestom/src/main/java/dev/hypera/chameleon/platform/minestom/adventure/MinestomAudienceProvider.java
  platform-minestom/src/main/java/dev/hypera/chameleon/platform/minestom/command/MinestomCommand.java
  platform-minestom/src/main/java/dev/hypera/chameleon/platform/minestom/command/MinestomCommandManager.java
  platform-minestom/src/main/java/dev/hypera/chameleon/platform/minestom/event/MinestomListener.java
  platform-minestom/src/main/java/dev/hypera/chameleon/platform/minestom/platform/MinestomPlatform.java
  platform-minestom/src/main/java/dev/hypera/chameleon/platform/minestom/platform/MinestomPluginManager.java
  platform-minestom/src/main/java/dev/hypera/chameleon/platform/minestom/platform/objects/MinestomPlugin.java
  platform-minestom/src/main/java/dev/hypera/chameleon/platform/minestom/scheduler/MinestomScheduler.java
  platform-minestom/src/main/java/dev/hypera/chameleon/platform/minestom/user/MinestomConsoleUser.java
  platform-minestom/src/main/java/dev/hypera/chameleon/platform/minestom/user/MinestomUser.java
  platform-minestom/src/main/java/dev/hypera/chameleon/platform/minestom/user/MinestomUserManager.java
  platform-minestom/src/main/java/dev/hypera/chameleon/platform/minestom/user/PlayerReflection.java
  platform-sponge/src/main/java/dev/hypera/chameleon/platform/sponge/SpongeChameleon.java
  settings.gradle.kts
Labels: area: platform, area: build, status: breaking, type: refactor, platform: minestom

#276 refactor(api)!: move Cancellable to the event package
  SECURITY.md
  api/src/main/java/dev/hypera/chameleon/event/AbstractCancellable.java
  api/src/main/java/dev/hypera/chameleon/event/Cancellable.java
  api/src/main/java/dev/hypera/chameleon/event/EventBusImpl.java
  api/src/main/java/dev/hypera/chameleon/event/common/UserChatEvent.java
  api/src/main/java/dev/hypera/chameleon/event/common/UserConnectEvent.java
  api/src/test/java/dev/hypera/chameleon/event/EventBusTests.java
  build.gradle.kts
Labels: type: enhancement, area: event, status: breaking, type: refactor

#283 chore: make renovate ignore experimental Spigot API snapshots
  .github/renovate.json5
Labels: type: dependencies

#286 ci(release): reduce permissions to contents read
  .github/release.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
Labels: area: ci, type: security: fix

#288 feat: add platform-api module (fix #287)
  CONTRIBUTING.md
  api/src/test/java/dev/hypera/chameleon/TestChameleon.java
  api/src/test/java/dev/hypera/chameleon/TestChameleonBootstrap.java
  platform-api/build.gradle.kts
  platform-api/src/main/java/dev/hypera/chameleon/platform/PlatformChameleon.java
  platform-bukkit/build.gradle.kts
  platform-bungeecord/build.gradle.kts
  platform-nukkit/build.gradle.kts
  platform-sponge/build.gradle.kts
  platform-velocity/build.gradle.kts
  settings.gradle.kts
Labels: area: platform, type: refactor

#289 build!: fix dependencies
  annotations/build.gradle.kts
  api/build.gradle.kts
  example/build.gradle.kts
  platform-api/build.gradle.kts
  platform-bukkit/build.gradle.kts
  platform-bungeecord/build.gradle.kts
  platform-folia/build.gradle.kts
  platform-nukkit/build.gradle.kts
  platform-sponge/build.gradle.kts
  platform-velocity/build.gradle.kts
Labels: type: bug: fix, area: build

#293 fix(api): rename PlatformPlugin#getDataFolder to #getDataDirectory
  api/src/main/java/dev/hypera/chameleon/platform/PlatformPlugin.java
  platform-bukkit/src/main/java/dev/hypera/chameleon/platform/bukkit/platform/objects/BukkitPlugin.java
  platform-bungeecord/src/main/java/dev/hypera/chameleon/platform/bungeecord/platform/objects/BungeeCordPlugin.java
  platform-folia/src/main/java/dev/hypera/chameleon/platform/folia/platform/objects/FoliaPlugin.java
  platform-nukkit/src/main/java/dev/hypera/chameleon/platform/nukkit/platform/plugin/NukkitPlugin.java
  platform-sponge/src/main/java/dev/hypera/chameleon/platform/sponge/platform/plugin/SpongePlugin.java
  platform-velocity/src/main/java/dev/hypera/chameleon/platform/velocity/platform/objects/VelocityPlugin.java
Labels: type: enhancement, status: breaking, area: api, size: S
